body{
    width:800px;
    margin:0 auto;
    background-color: #000000;
}

#container{
    position:relative;
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    width:700px;
}

#prev{
    position:absolute;
    top:175px;
    left: -20px;
    z-index:10;
}

#next{
    position:absolute;
    top:175px;
    right:-21px;
    z-index: 10;
}


.slider{
    width: 700px;
    height:400px;
    border: 1px solid #000;
}